@media print {

    a[href]:after {
        content: "" !important;
    }

    @page {
        size: A4;
        margin: 10mm;
    }

    html, body {
        width: 1024px;
    }

    body {
        margin: 0 auto;
    }

    .progress{
        background-color: #F5F5F5 !important;
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='darkblue', endColorstr='darkblue')" !important;
    }
    .progress-bar-success{
        display: block !important;
        background-color: #5BC0DE !important;
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='darkblue', endColorstr='darkblue')" !important;
    }

    .progress, .progress > .progress-bar {
        display: block !important;
        -webkit-print-color-adjust: exact !important;

        box-shadow: inset 0 0 !important;
        -webkit-box-shadow: inset 0 0 !important;
    }   
}

.material-icons {
    font-size: 18px;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.8em;
}

.jumbotron {
    padding: 10px;
    height: 220px;
    background-color: white;
}

h1.main_header {
    font-size: 36px;
}
.img-thumb {
    max-height: 220px;
    padding-right: 20px;
}

.right {
    float: right;
    padding-right: 20px;
}
.left {
    float: left;
}
h1, h2, h4 {
    color: darkblue;
    text-transform: uppercase;
}

.indicator {
    color: darkblue;
    font-size: 25px;
    letter-spacing: 8px;
    line-height: 1px;
}
.langlabel {
    line-height: 1px;
}
.progress-bar {
    background-color: darkblue;
}
h2 {
    border-bottom: 2px solid darkslateblue;
}

.experience {
    text-align: left;
}
.experience > hr {
    border-bottom: 2px dashed grey;
}

.experience.summary {
    margin: 25px;
}

.footer {
    height: 60px;
    background: rgb(245, 245, 245);
    text-align: center;
}